@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

:root {
    /* font-size */
    --fs-xsm: 12px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 20px;
    --fs-xl: 36px;
    --fs-2xl: 48px;
    /* color */
    --fc-purple: #2C49FE;
    --fc-sky-blue: #01C8FF;
    --fc-black: #000;
    --fc-white: #FFF;
    --fc-grey: #666666;
}

/*==================section-1================ */
.logo {
    color: var(--fc-purple);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-xl);
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.logo1 {
    color: var(--fc-sky-blue);
    font-family: 'Poppins',
        sans-serif;
    font-size: var(--fs-xl);
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.links {
    color: var(--fc-black);
    font-family: 'Poppins',
        sans-serif;
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbtn {
    color: var(--fc-white);
    font-family: 'Poppins',
        sans-serif;
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border-radius: 23px;
    background: var(--fc-purple);
    padding: 11px 28px;
    border: transparent;
}

.space-between {
    justify-content: space-between;
}

.py-17 {
    padding-top: 17px;
    padding-bottom: 17px;
}

.bg-color {
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.05);
}

.menuList .show {
    right: 0 !important;
}

.menulist.show {
    right: 0 !important;
}

@media (max-width:992px) {
    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        right: 0;
    }

    .menulist {
        width: 100%;
        height: 100%;
        background-color: var(--bs-white);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        transition: all 300ms linear;
        z-index: 1;
    }


    .menuIcon {
        width: 30px;
        height: 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
        z-index: 2;

    }

    .menuIcon>span {
        width: 100%;
        height: 4px;
        background-color: var(--bs-black);
    }
}

.cross span:nth-child(1) {
    transform: rotate(58deg);
    transition: 300ms;
}

.cross span:nth-child(2) {
    transform: rotate(-55deg);
    position: relative;
    top: -24px;
}

.cross span:nth-child(3) {
    display: none
}

.max-h-408 {
    max-height: 408px;
}

.max-w-401 {
    max-width: 401px;
}

.img-property {
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.text1 {
    color: var(--fc-black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
    align-items: center;
}

.heading1 {
    color: var(--fc-black);
    font-family: 'Poppins',
        sans-serif;
    font-size: var(--fs-2xl);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.btn1 {
    color: var(--fc-black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 11px 28px;
    border-radius: 23px;
    background: rgba(44, 73, 254, 0.10);
    border: none;
}

.btn1:hover {
    color: var(--fc-white);
    background: var(--fc-purple);
}

.max-w-857 {
    max-width: 857px;
}

.pt-16 {
    padding-top: 16px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about {
    color: var(--fc-black);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


/* ========================section-2===================== */
.max-w-642 {
    max-width: 642px;
}

.icon {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.cursor-pointer {
    cursor: pointer;
}

@media (max-width:576px) {
    .fs-20 {
        font-size: 20px;
    }

    .fs-40 {
        font-size: 40px;
    }
}


.logo {
    color: #2C49FE;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;

}

.logo1 {
    color: #01C8FF;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;

}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.heading-3 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;

}

.underline-1 {
    position: relative;
}

.underline-1::after {
    content: '';
    width: 8%;
    height: 8px;
    position: absolute;
    top: -16%;
    left: 46%;
    background-color: #2C49FE;
}

.underline-1::before {
    content: '';
    width: 9%;
    height: 8px;
    position: absolute;
    top: -16%;
    left: 46%;
    background-color: #01C8FF;
}

.mb-70 {
    margin-bottom: 70px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
}

.grid-item1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid-item2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid-item4 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.grid-item6 {
    grid-column: 1/3;
    grid-row: 3/4;
}

*/ .grid-item3 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.grid-item5 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.border-radius {
    border-radius: 25px;
}

/*========================================= section-4========================================== */
.pb-150 {
    padding-top: 70px;
    padding-bottom: 117px;
}

.heading-4 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
}

.underline-2 {
    position: relative;
}

.underline-2::after {
    content: '';
    width: 7%;
    height: 8px;
    position: absolute;
    top: -16%;
    left: 46%;
    background-color: #2C49FE;
}

.underline-2::before {
    content: '';
    width: 8%;
    height: 8px;
    position: absolute;
    top: -16%;
    left: 46%;
    background-color: #01C8FF;
}

.my-para4 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #666666;

}

/* .mx-width{
    max-width: 719px;
} */
.comment {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fc-grey);
    border: none;
}

.border {
    border: 2px solid #9CA1BE;
    border-radius: 35px;
}

.comment-btn {

    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border-radius: 36px;
    background: #2C49FE;
    padding: 8px 10px;
    border: none;

}

.text-4 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.my-para4 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #666666;
}

.pb {
    padding-bottom: 47px;
}

.mx-auto {
    max-width: 719px;
    margin-right: auto;
    margin-left: auto
}

.border-2 {
    border: 2px solid #F1F2F5;
    background: #F1F2F5;
    border-radius: 0px 20px 20px 20px;

}

.mt-left {
    margin-left: 19px;

}

.mt-47 {
    margin-top: 47px;
}

.white-space-nowrap {
    white-space: nowrap;
}

.remove-comment {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fc-grey);
}

.m-left {
    margin-left: 95px;
}

.mx-width {
    max-width: 1244px;
}

/* ============================section-5================================================ */
.bg-clr2 {
    background-color: var(--fc-black);
}

.py-70 {
    padding-top: 70px;
    padding-bottom: 37px;
}

.my-para6 {
    font-family: ' poppins', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fc-white);
    ;
    /* max-width: 346px; */
}

.mb-36 {
    margin-bottom: 36px;
}

.link-2 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fc-white);
}

.l-text {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-xsm);
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fc-white);
}

.mb-13 {
    margin-bottom: 13px;
}

.last-box {
    /* padding: 10px 20px; */
    background-color: #2D3CAE87;
    height: 100%;

}

.box-text {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-xsm);
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--fc-white);
    max-width: 43px;
}

.last-line {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fc-white);
    /* margin-top: 120px; */
    max-width: 384px;
}

.cursor-pointer {
    cursor: pointer;
}

.mt-23 {
    margin-top: 23px;
}

ol,
ul {
    padding-left: 2rem;
}

.mt-100 {
    margin-top: 60px;
}

.mb-18 {
    margin-bottom: 24px !important;
}

.pl-2 {
    padding-left: 2rem;
}

.padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

.mb-1 {
    margin-bottom: 12px !important;
}

.fs-25 {
    font-size: 25px;
}

.p-2 {
    padding: 4rem;
}




@media (min-width:992px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 20px;
    }

    .grid-item1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid-item2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .grid-item3 {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    .grid-item4 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .grid-item5 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .grid-item6 {
        grid-column: 2/4;
        grid-row: 3/4;
    }

}

@media (min-width:768px) {
    .pt-1-20 {
        padding-top: 20px;
    }

    .pd-20 {
        padding-right: 20px;
    }

    .mt-20 {
        margin-top: 20px;
    }

    .pt-50 {
        padding-top: 50px;
    }

    .mb-70 {
        margin-bottom: 50px;
    }

    .m-20 {
        margin-top: 20px
    }



}

@media (min-width:576px) {
    .mt-20 {
        margin-top: 20px;
    }

    .pt-1-20 {
        padding-top: 20px;
    }

    .pt-75 {
        padding-top: 30px;
    }

    .mb-70 {
        margin-bottom: 30px;
    }

    .mt-100 {
        margin-top: 60px;
    }

    .comment-btn {

        color: var(--fc-white);
        font-family: 'Poppins', sans-serif;
        font-size: var(--fs-lg);
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        border-radius: 36px;
        background: var(--fc-purple);
        padding: 11px 28px;
        border: none;

    }

    .fs-25 {
        font-size: var(--fs-xl);
    }

    .fs-20 {
        font-size: var(--fs-xl);
    }

    .p-4 {
        padding: 0 !important;
    }


}


@media (min-width:320px) {
    .mt-20 {
        margin-top: 20px;
    }

    .pt-1-20 {
        padding-top: 20px;
    }

    .pt-75 {
        padding-top: 10px;
    }

    .mb-70 {
        margin-bottom: 20px;
    }

    .margin {
        margin-left: 56px;
    }


}